*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yantramanav:wght@300&display=swap');

/*------------------- Header -------------------*/

.nav-link{
    font-size: x-large;
}

.navbar{
    background-color: #d7e3fc;
}
/*------------------- Products -----------------*/

ul{
    list-style-type: none;
}

h1{
    font-family: 'Yantramanav', sans-serif;
    font-size: 50px;
    text-align: center;
}

.products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.item{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1%;
    margin: 3px;
    border: 1px black solid;
}

.product-name {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.item-price{
    display: flex;
    flex-direction: row;
    font-family: 'Yantramanav', sans-serif;
}

.price-number{
    margin-right: 35px;
    margin-top: 20px;
    font-size: large;
}

/* -----------------Footer--------------- */

footer{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 5% 0% 0% 0%;
    background-color: #d7e3fc;
}

a{
    font-family: 'Yantramanav', sans-serif;
    text-decoration: none;
    color: #204db4f1;
}

.whatsapp{
    margin: 28%;
}

.foot-links{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin: 10px;
}

iframe{
    padding: 5px;
}