@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yantramanav:wght@300&display=swap');

$font-color: black;
$font-color-footer: #204db4f1;
$font-color-h1: gray;
$font-main: 'Yantramanav', sans-serif;
